<mat-toolbar id="mat-toolbar" class="navigation-toolbar" [ngStyle.lt-sm]="{'height': '50px'}"
  [class.navigation-is-mobile]="mobileQuery.matches" [class.mat-elevation-z0]="!isActive"
  [class.mat-elevation-z8]="isActive" [class.animated-header]="!isActivefadeInDown"
  [class.fadeInDown]="!isActivefadeInDown" [class.navigation-fixed]="!fixedTolbar">
  <div class="dialog-action" fxLayout="column">
    <div class="dialog-action" fxLayout="row">
      <button id="menubutton" mat-icon-button (click)="snav.toggle()" style="color:white;">
        <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
      </button>
      <!--<button *ngIf="canGoBack" id="canGoBack" mat-icon-button (click)="backClicked()" style="color:white;"><mat-icon fontSet="material-icons-outlined">undo</mat-icon></button>-->
      <button mat-button style="color:white;line-height: normal;text-align: left;">
        <span style="vertical-align:middle !important;padding: 5px 5px 5px 0;font-size: 12px;">
          <span *ngIf="_currentUrl=='identifier'||_currentUrl==''">ACCUEIL</span>
          <span *ngIf="_currentUrl=='rjvs'">RJV</span>
          <span *ngIf="_currentUrl=='commandes'">GESTION DES<br />COMMANDES</span>
          <span *ngIf="_currentUrl=='banques'">GESTION DES<br />BANQUES</span>
          <span *ngIf="_currentUrl=='produits'">GESTION DES<br />PRODUITS</span>
          <span *ngIf="_currentUrl=='stations'">GESTION DES<br />STATIONS</span>
          <span *ngIf="_currentUrl=='fournisseurs'">GESTION DES<br />FOURNISSEURS</span>
          <span *ngIf="_currentUrl=='clients'">GESTION DES<br />CLIENTS</span>
          <span *ngIf="_currentUrl=='zones'">GESTION DES<br />ZONES</span>
          <span *ngIf="_currentUrl=='users'">GESTION DES<br />UTILISATEURS</span>
          <span *ngIf="_currentUrl=='rapports'">RAPPORTS</span>
        </span>
      </button>

      <span class="navigation-spacer"></span>

      <button mat-icon-button *ngIf="!signalrService.connected" (click)="signalrService.connectSignalR()">
        <mat-icon fontSet="material-icons-outlined" matTooltip="HORS-LIGNE SUR {{signalrService.__device | uppercase}}"
          [matTooltipPosition]="'below'">radio_button_unchecked</mat-icon>
      </button>
      <button mat-icon-button *ngIf="signalrService.connected">
        <mat-icon fontSet="material-icons-outlined" style="color:white"
          matTooltip="EN LIGNE SUR {{signalrService.__device | uppercase}}" [matTooltipPosition]="'below'">
          radio_button_checked</mat-icon>
      </button>
      <a mat-icon-button routerLink="/sds-secure/user" style="width: 101px !important;">
        <img height="42" [lazyLoad]="authImage">
      </a>
    </div>
  </div>
</mat-toolbar>
<div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>
<mat-sidenav-container class="navigation-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 50 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
    (opened)="setToggleOn()" (closed)="setToggleOff()">

    <mat-nav-list dense [style.marginTop.px]="mobileQuery.matches ? 50 : 0">

      <a mat-list-item style="color:white;" routerLink="/sds-secure/user" [class.menu-selected]="_currentUrl=='user'">
        <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='user'">account_circle</mat-icon>
        <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='user'">double_arrow</mat-icon>
        <div mat-line>
          <div *ngIf="loggedUser.station">
            <small style="text-decoration: underline;">{{loggedUser.station.nom | uppercase}}</small><br />
            <small>{{loggedUser.firstName + ' ' + loggedUser.lastName | uppercase}}</small>
          </div>
          <div *ngIf="!loggedUser.station">
            <div>
              <span>{{loggedUser.firstName + ' ' + loggedUser.lastName | uppercase}}</span>
            </div>
            <small *ngIf="loggedUser.fonction">{{loggedUser.fonction}} | </small>
          </div>
        </div>
      </a>
      <mat-divider style="color: white;"></mat-divider>
      <a mat-list-item style="color:white;" (click)="logout()">
        <mat-icon fontSet="material-icons-outlined" mat-list-icon>logout</mat-icon>
        <div mat-line>DÉCONNEXION</div>
      </a>
      <mat-divider style="color: white;"></mat-divider>
      <a mat-list-item style="color:white;" routerLink="/sds-secure/identifier"
        [class.menu-selected]="_currentUrl=='identifier'||_currentUrl==''">
        <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='identifier'&&_currentUrl!=''">
          home</mat-icon>
        <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='identifier'||_currentUrl==''">
          double_arrow</mat-icon>
        <div mat-line>ACCUEIL</div>
      </a>
      <mat-divider style="color: white;"></mat-divider>
      <a mat-list-item style="color:white;" routerLink="/sds-secure/rapports"
        [class.menu-selected]="_currentUrl=='rapports'">
        <mat-icon mat-list-icon>analytics</mat-icon>
        <div mat-line>RAPPORTS</div>
      </a>
      <mat-divider style="color:white;"></mat-divider>

      <mat-accordion>

        <mat-expansion-panel #operationPanel [class.mat-elevation-z0]="true" dense
          *ngIf="authService.roleEXist('commandes_manage')||authService.roleEXist('rjvs_manage')"
          [expanded]="(_currentUrl=='commandes'||_currentUrl=='rjvs')==true">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: white;">
              <div class="myepended">
                <div mat-ripple="" class="mat-ripple mat-list-item-ripple" ng-reflect-disabled="false"></div>
                <mat-icon class="panel-explanded-pin" fontSet="material-icons-outlined" mat-list-icon
                  *ngIf="!operationPanel.expanded">radio_button_unchecked</mat-icon>
                <mat-icon class="panel-explanded-pin" fontSet="material-icons-outlined" mat-list-icon
                  *ngIf="operationPanel.expanded">radio_button_checked</mat-icon>
                <div class="mat-list-text">
                  <div _ngcontent-onw-c297="" mat-line="" class="mat-line">OPÉRATIONS</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list dense style="background-color:white;padding-top: 0 !important;">
            <mat-divider style="color: #cb6c38;"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('rjvs_manage')"
              routerLink="/sds-secure/rjvs" [class.menu-selected]="_currentUrl=='rjvs'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='rjvs'">splitscreen</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='rjvs'">double_arrow
              </mat-icon>
              <div mat-line>RJV</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('commandes_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('commandes_manage')"
              routerLink="/sds-secure/commandes" [class.menu-selected]="_currentUrl=='commandes'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='commandes'">date_range</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='commandes'">double_arrow
              </mat-icon>
              <div mat-line>COMMANDES</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('commandes_manage')"></mat-divider>

          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider style="color: #cb6c38;"
          *ngIf="authService.roleEXist('banques_manage')||authService.roleEXist('zones_manage')||authService.roleEXist('clients_manage')||authService.roleEXist('fournisseurs_manage')||authService.roleEXist('stations_manage')||authService.roleEXist('comptes_manage')">
        </mat-divider>

        <mat-expansion-panel #gestionPanel [class.mat-elevation-z0]="true" dense
          *ngIf="authService.roleEXist('banques_manage')||authService.roleEXist('zones_manage')||authService.roleEXist('clients_manage')||authService.roleEXist('fournisseurs_manage')||authService.roleEXist('stations_manage')||authService.roleEXist('comptes_manage')"
          [expanded]="(_currentUrl=='produits'||_currentUrl=='banques'||_currentUrl=='zones'||_currentUrl=='fournisseurs'||_currentUrl=='clients'||_currentUrl=='stations'||_currentUrl=='comptes'||_currentUrl=='users')==true">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: white;">
              <div class="myepended">
                <div mat-ripple="" class="mat-ripple mat-list-item-ripple" ng-reflect-disabled="false"></div>
                <mat-icon class="panel-explanded-pin" fontSet="material-icons-outlined" mat-list-icon
                  *ngIf="!gestionPanel.expanded">radio_button_unchecked</mat-icon>
                <mat-icon class="panel-explanded-pin" fontSet="material-icons-outlined" mat-list-icon
                  *ngIf="gestionPanel.expanded">radio_button_checked</mat-icon>
                <div class="mat-list-text">
                  <div _ngcontent-onw-c297="" mat-line="" class="mat-line">BACK-OFFICE</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list dense style="background-color:white;padding-top: 0 !important;">
            <mat-divider style="color: #cb6c38;"></mat-divider>
            
            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('banques_manage')"
              routerLink="/sds-secure/banques" [class.menu-selected]="_currentUrl=='banques'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='banques'">account_balance</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='banques'">double_arrow
              </mat-icon>
              <div mat-line>BANQUES</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('banques_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('clients_manage')"
              routerLink="/sds-secure/clients" [class.menu-selected]="_currentUrl=='clients'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='clients'">badge</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='clients'">double_arrow
              </mat-icon>
              <div mat-line>CLIENTS</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('clients_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('fournisseurs_manage')"
              routerLink="/sds-secure/fournisseurs" [class.menu-selected]="_currentUrl=='fournisseurs'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='fournisseurs'">face</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='fournisseurs'">double_arrow
              </mat-icon>
              <div mat-line>FOURNISSEURS</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('fournisseurs_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('stations_manage')"
              routerLink="/sds-secure/stations" [class.menu-selected]="_currentUrl=='stations'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='stations'">store</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='stations'">double_arrow
              </mat-icon>
              <div mat-line>STATIONS</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('stations_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('zones_manage')"
              routerLink="/sds-secure/zones" [class.menu-selected]="_currentUrl=='zones'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='zones'">location_city</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='zones'">double_arrow
              </mat-icon>
              <div mat-line>ZONES</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('zones_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('produits_manage')"
              routerLink="/sds-secure/produits" [class.menu-selected]="_currentUrl=='produits'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='produits'">toll
              </mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='produits'">
                double_arrow
              </mat-icon>
              <div mat-line>PRODUITS</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('produits_manage')"></mat-divider>

            <a mat-list-item style="color: #cb6c38;" *ngIf="authService.roleEXist('comptes_manage')"
              routerLink="/sds-secure/users" [class.menu-selected]="_currentUrl=='users'">
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl!='users'">
                admin_panel_settings</mat-icon>
              <mat-icon fontSet="material-icons-outlined" mat-list-icon *ngIf="_currentUrl=='users'">double_arrow
              </mat-icon>
              <div mat-line>UTILISATEURS</div>
            </a>
            <mat-divider style="color: #cb6c38;" *ngIf="authService.roleEXist('comptes_manage')"></mat-divider>

          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>



    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content sms-scroll (onScroll)="detectScroll($event)">
    <main focusOnNavigation>
      <router-outlet classs="ap-rooot"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>