<table style="width:100%;">
  <tr style="border-top: 2px solid #cb6c38 !important;">
    <!-- <td style='text-align:center;border-top: 2px solid #cb6c38 !important;'> -->
      <!--<h2 style="color:#0d47a1;font-weight:bold;">RIEN NE NOUS ARRÊTE!</h2>-->
      <!--<img width='100' src='{{env.API_URL + "/assets/img/logo-cameskin.jpeg"}}'>-->
    <!-- </td> -->
    <td style='text-align:center;border-top: 2px solid #cb6c38 !important;font-size:9px;' colspan="2">
      <!-- <span>SMS SARL<br /></span> -->
      <!-- <span><br />ID. NAT. 01-714-N57201F - NIF A1003877B - RCCM 14-B-5839</span>
      <span><br />63, Avenue du livre, Q. Gombe RD Congo/ Kinshasa</span>
      <span><br />Tél: +243 999 606 561 | +243 898 238 908 | +243 814 700 053</span> -->
    </td>
  </tr>
</table>
