<section id="clientDialog" matDialogContainer>


  <mat-toolbar id="mat-toolbar" class="navigation-toolbar" [ngStyle.lt-sm]="{'height': '50px'}"
    [class.navigation-is-mobile]="mobileQuery.matches" [class.mat-elevation-z0]="!isActive"
    [class.mat-elevation-z8]="isActive" [class.animated-header]="!isActivefadeInDown"
    [class.fadeInDown]="!isActivefadeInDown" [class.navigation-fixed]="!fixedTolbar">
    <div class="dialog-action" fxLayout="column">
      <div class="dialog-action" fxLayout="row">
        <button id="menubutton" mat-icon-button (click)="close()" style="color:white;">
          <mat-icon fontSet="material-icons-outlined">chevron_left</mat-icon>
        </button>
        <button mat-button style="color:white;line-height: normal;text-align: left;">
          <span
            style="vertical-align:middle !important;padding: 5px 5px 5px 0;font-size: 12px;">{{action|uppercase}}<br />D'UN
            CLIENT</span>
        </button>
        <span class="navigation-spacer"></span>
        <button mat-button style="color:white;line-height: normal;text-align: left;" *ngIf="canMoveNext()&&!loading"
          matTooltip="Enregistrer" [matTooltipPosition]="'below'" (click)="confirm(formData.value)">
          <span style="vertical-align:middle !important;font-size: 12px;"
            *ngIf="action != 'Suppression'">ENREGISTRER</span>
          <span style="vertical-align:middle !important;font-size: 12px;"
            *ngIf="action == 'Suppression'">SUPPRIMER</span>
          <mat-icon fontSet="material-icons-outlined">check</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>

  <div style="padding-top:4rem;" (onScroll)="detectScroll($event)">

    <div fxLayout="column" fxLayoutAlign="center center" class="dialog-action" style="min-height:100px;margin-top:3rem;"
      *ngIf="loading">
      <div color="warn" style="text-align:center;">
        <small><b>Opération en cours.<br />Veuillez patienter s'il vous plait.</b></small>
      </div>
      <mat-spinner color="primary" [diameter]="40"></mat-spinner>
    </div>

    <mat-tab-group *ngIf="!loading" [formGroup]="formData" appDisableAutofill class="app-mat-tab">
      <mat-tab>
        <ng-template mat-tab-label>
          Infos
        </ng-template>
        <div class="dialog-form-main" style="padding-top:1rem;padding-bottom:30rem;" (onScroll)="detectScroll($event)">

          <div fxLayout="column" fxLayoutAlign="start center" class="form-contain">

            <div fxLayout="row wrap" fxLayoutAlign="start start">

              <div style="width: 100%;padding: 0.3rem .3rem;">

              </div>
              <div fxLayout="column" *ngIf="local_data&&local_data.id&&action != 'Suppression'"
                style="width: 100%;padding: 0.3rem .3rem;">

              </div>

              <mat-form-field color="primary" appearance="fill">
                <mat-label>Nom </mat-label>
                <input appDisableAutofill matInput type="text" autocomplete="new-nom"
                  [required]="isRequiredField('nom')" [formControl]="formData.get('nom')"
                  [errorStateMatcher]="matcher">
                <mat-error>
                  <ng-container *ngFor="let error of errors(formData.get('nom'))">
                    <small>{{ errorMessages[error] }} <br></small>
                  </ng-container>
                </mat-error>
              </mat-form-field>




            </div>

          </div>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Produits ({{clientProduits.length}})
        </ng-template>
        <div class="dialog-form-main" style="padding-top:1rem;padding-bottom:30rem;" (onScroll)="detectScroll($event)">

          <div class="form-contain">

            <div fxLayout="column" fxLayoutAlign="start center">
              <div fxLayout="row wrap" fxLayoutAlign="start start">

                <mat-form-field appearance="fill" color="primary" (focus)="selectionDialog('produit', {})"
                  (click)="selectionDialog('produit', {})">
                  <mat-label>Produit </mat-label>
                  <input appDisableAutofill [disabled]="(this.action == 'Création' && this.local_data.produit)"
                    matInput readonly type="text" [required]="isRequiredField('produit')"
                    autocomplete="new-produit" [value]="formDataSubProduit.get('produit').value?.title"
                    [errorStateMatcher]="matcher">
                  <mat-error>
                    <ng-container *ngFor="let error of errors(formDataSubProduit.get('produit'))">
                      <small>{{ errorMessages[error] }} <br></small>
                    </ng-container>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" color="primary" (focus)="selectionDialog('zone', {})"
                  (click)="selectionDialog('zone', {})">
                  <mat-label>Zone </mat-label>
                  <input appDisableAutofill [disabled]="(this.action == 'Création' && this.local_data.zone)"
                    matInput readonly type="text" [required]="isRequiredField('zone')"
                    autocomplete="new-zone" [value]="formDataSubProduit.get('zone').value?.title"
                    [errorStateMatcher]="matcher">
                  <mat-error>
                    <ng-container *ngFor="let error of errors(formDataSubProduit.get('zone'))">
                      <small>{{ errorMessages[error] }} <br></small>
                    </ng-container>
                  </mat-error>
                </mat-form-field>

                <mat-form-field color="primary" appearance="fill">
                  <mat-label>Prix structure </mat-label>
                  <input appDisableAutofill matInput min="0" type="number" autocomplete="new-prix"
                    [required]="isRequiredField('prix')" [formControl]="formDataSubProduit.get('prix')"
                    [errorStateMatcher]="matcher">
                  <span matSuffix>&nbsp;CDF</span>
                  <mat-error>
                    <ng-container *ngFor="let error of errors(formDataSubProduit.get('prix'))">
                      <small>{{ errorMessages[error] }} <br></small>
                    </ng-container>
                  </mat-error>
                </mat-form-field>

                <div class="mat-field-priv" 
                fxLayout="row" fxLayoutAlign="start start" 
                *ngIf="!loading&&formDataSubProduit.valid&&action != 'Suppression'">
                  <button mat-raised-button color="primary" (click)="addProduit(formDataSubProduit.value)">
                    <span *ngIf="tempIndexProduit>=0" style="vertical-align:middle !important;font-size: 12px;">MODIFIER</span>
                    <span *ngIf="tempIndexProduit<0" style="vertical-align:middle !important;font-size: 12px;">AJOUTER</span>
                  </button>
                  <button *ngIf="tempIndexProduit>=0" mat-raised-button (click)="cancelProduit()" style="margin-left: 13px">
                     <span style="vertical-align:middle !important;font-size: 12px;">ANNULER</span>
                  </button>
                </div>
                
              </div>
            </div>
            <table style="width: 100%;">
              <tr>
                <th style="text-align: left;"><small>Produit</small></th>
                <th style="text-align: left;"><small>Zone</small></th>
                <th style="text-align: left;"><small>Prix<br/>CDF</small></th>
                <th style="text-align: left;padding-left: 8px;">#</th>
              </tr>
              <tr *ngFor="let item of clientProduits;let i = index;"
              [ngStyle]="{'font-weight': (i==tempIndexProduit?'bold':'normal')}">
                <td>{{item.produit?.nom}}</td>
                <td>{{item.zone?.nom}}</td>
                <td>{{item.prix|number:'1.2-2'}} <span></span></td>
                <!-- <td>
                  <mat-icon fontSet="material-icons-outlined" class="noMarge" color="primary" (click)="editProduit(item, i)">
                    more_vert</mat-icon>
                </td> -->
                <td>
                  <div fxLayout="row" *ngIf="i!=tempIndexProduit">

                      <button mat-icon-button  style="cursor: pointer;" (click)="editProduit(item, i)">
                        <mat-icon fontSet="material-icons-outlined" class="noMarge">
                          edit</mat-icon>
                      </button>
                      
                      <button mat-icon-button  style="cursor: pointer;margin-left: 5px;" color="warn" (click)="deleteProduit(i)">
                        <mat-icon fontSet="material-icons-outlined" class="noMarge">
                          delete</mat-icon>
                      </button>

                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>

  </div>

  <div class="fab-center-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="fab-container">
      <button color="primary" mat-fab class="fab-toggler" *ngIf="canMoveNext()&&!loading"
        (click)="confirm(formData.value)">
        <i class="material-icons" color="accent">check</i>
      </button>
      <button mat-fab color="primary" class="fab-toggler" *ngIf="loading">
        <mat-spinner color="accent" [diameter]="25"></mat-spinner>
      </button>
    </div>
  </div>

</section>