@import '~@angular/material/theming';
@import '../../../styles/constants';

@mixin forgot-password-component-theme($theme) {

  app-forgot-password {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cb6c38;
    /*background-image: linear-gradient(#cb6c38 80%, #cb6c38);*/
    /*background-image: linear-gradient(#7e7e7e 80%, #ffffff);*/
    /*background-image: url('../../../assets/img/logo-opacity.png');
    background-repeat: repeat;*/
  }
}

