<header class="sybox-primary-header">
  <h1>Réinitialisation mot de passe</h1>
</header>
<main focusOnNavigation>
  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()" appDisableAutofill>

        <div class="logo">
          <img [lazyLoad]="authImage">
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="loading" class="dialog-action" style="min-height:100px;">
          <h4>Envoi du lien en cours...</h4>
          <mat-spinner color="accent" [diameter]="40"></mat-spinner>
        </div>

        <div *ngIf="!loading">

          <h4>
            Veuillez saisir l'adresse e-mail associée à votre compte.
            Un mail comportant le code de reinitialisation vous sera envoyé.
          </h4>

          <mat-form-field class="form-field" appearance="outline" color="accent">
            <mat-label>
              Adresse e-mail
            </mat-label>
            <input appDisableAutofill matInput formControlName="email" required autocomplete="off">
            <!--<mat-hint *ngIf="!forgotPasswordForm.value.email">Tapez votre adresse e-mail</mat-hint>-->
            <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
              <span *ngIf="forgotPasswordForm.controls.email.errors.required">Ce champ est obligatoire.</span>
              <span *ngIf="forgotPasswordForm.controls.email.errors.email">Adresse e-mail invalide.</span>
            </mat-error>
          </mat-form-field>

          <div class="dialog-action" fxLayout="row" fxLayoutAlign="center center">
            <button [disabled]="loading" mat-flat-button color="accent" type="submit">
              Envoyer le lien de réinitialisation
            </button>
          </div>

        </div>

        <div class="orDivider" *ngIf="!loading">
          <div class="line"><mat-divider></mat-divider></div>
          <div class="text mat-typography">Ou</div>
          <div class="line"><mat-divider></mat-divider></div>
        </div>

        <div class="dialog-action" fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading">
          <button mat-button color="accent" routerLink="/sds-login" type="button">Revenir sur l'écran de connexion</button>
        </div>

      </form>
    </div>
  </div>
</main>
