.sybox-primary-header {
  background-color: transparent;

  h1 {
    color: #ffffff; //mat-color($primary, 900)
  }
}

.logo {
  min-height: 100px;
  img{
    width: 100px;
  }
}

.example-container {
  text-align: center;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;

  h4 {
    font-weight: 300;
    font-size: 15px;
    color: #fff;
  }



  ::ng-deep .mat-focused, ::ng-deep.mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
  }

  ::ng-deep.mat-form-field-empty, ::ng-deep.mat-form-field-label {
    color: #fff;
  }
  /* Border */
  ::ng-deep.mat-form-field-appearance-outline, ::ng-deep.mat-form-field-outline {
    color: white;
  }
  /* Font color */
  input.mat-input-element {
    color: white;
  }

  mat-icon {
    color: white;
  }

  .forgot-password {
    color: white;
  }
}

.form-field {
  display: block
}

input {
  font-weight: 300;
}

.dialog-action {
  width: 100%;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.orDivider {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;

  .line {
    flex: 1;
    color: #fff;
    border-color: #fff;
  }


  ::ng-deep mat-divider {
    color: #fff;
    border-color: #fff;
  }


  .text {
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
  }
}

::ng-deep .error-snackbar {
  background: #d40000;
  color: #ffffff;
  font-size: 10px;

  mat-button {
    color: #ffffff;
  }
}
