// Define the light theme.
$dark-text: #000000;
$withe-color: #FFFFFF;

$dark-primary-text: rgba($dark-text, 0.87);

$primary-color-dark:   #cb6c38;//#d63437;
$primary-color:#cb6c38;//#d63437;
$primary-color-light: #cb6c38;//#d63437;
$primary-color-text: #FFFFFF;

$accent-color: #FFFFFF;
$accent-color-text: #cb6c38;//#d63437;

$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$danger-color: red;
