<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Index Request" enabled="true" stopProcessing="true">
          <match url="^$"/>
          <action type="Rewrite" url="/index.html" logRewrittenUrl="true"/>
        </rule>
        <rule name="SpaRewriteRule" stopProcessing="true">
          <match url="^sds-(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <!--<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_URI}" pattern="api/(.*)" negate="true"/>
            <add input="{REQUEST_URI}" pattern="(.*)/token" negate="true"/>
            <add input="{REQUEST_URI}" pattern="(.*)/signalr/(.*)" negate="true"/>-->
          </conditions>
          <action type="Rewrite" url="/index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>